<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journa</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><i class="N fab fa-neos"></i>itin<i class="B fab fa-bootstrap"></i>log</p>
      </div>
      <div class="navbar-header">
        <form action="" method="post">
          <div class="explore-area">
            <input class="explore-txtarea" type="text" name="search" value="" required placeholder="Explore..">
            <button class="explore-search-btn" type="submit" name="search-btn"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav">
        <li><a class="navbar-btn" href="/">HOME</a></li>
        <li><a class="navbar-btn" href="/compose">COMPOSE</a></li>
        <li><a class="navbar-btn" href="/explore">EXPLORE</a></li>
        <li><a class="navbar-btn" href="/support">SUPPORT</a></li>
      </ul>
      <form class="" action="/signin" method="post">
        <button class="btn-signin" type="submit" name="button">SIGN IN <i class="fas fa-sign-in-alt"></i></button>
      </form>
    </div>
  </nav>

<body>
  <div class="container middle-container">
