<%- include("partials/header"); -%>

<div class="compose-div">
  <h1><i class="fab fa-contao"></i>ompose</h1>
  <form class = "" action="/compose" method="post">
    <div class="">
      <input class = "input form-control" type="text" name="input" value="" required>
      <textarea class="post form-control" name="post" rows="11" cols="30" required></textarea>
    </div>
    <button class = "btn publish-btn" type="submit" name="button" >Publish</button>
  </form>
</div>

<%- include("partials/footer"); -%>
