<%- include("partials/header"); -%>

<div class="reset-form-div">
  <i class="far fa-exclamation-triangle"></i>
  <h1 class="reset-heading">Are you sure?</h1>
  <p>You will not be able to recover this text.</p>

  <div class="reset-div">
    <form style="display: inline" class="" action="/reset" method="post">
      <button class="no-btn btn " type="submit" name="resetbtn" value="no">Cancel</button>
    </form>
    <form style="display: inline" class="" action="/reset" method="post">
      <button class="yes-btn btn " type="submit" name="resetbtn" value="yes">Yes, delete it!</button>
    </form>
  </div>
</div>


<%- include("partials/footer"); -%>
