<%- include("partials/header"); -%>

  <h1 style="margin-top: 50px">Are you sure?</h1>

  <div>
    <form style="display: inline" class="" action="/reset" method="post">
      <button class = "yes-btn btn btn-danger" type="submit" name="resetbtn" value="yes" >Yes</button>
    </form>
    <form style="display: inline" class="" action="/reset" method="post">
      <button class = "no-btn btn btn-info" type="submit" name="resetbtn" value="no" >No</button>
    </form>
  </div>


<%- include("partials/footer"); -%>
