<%- include("partials/header"); -%>



<form action="/" class="form-signin" style="margin-bottom: 286px!important" method="post">

   <h1 class="form-signup-heading">Please sign up</h1>

   <input type="text" name="fname" class="form-control top" placeholder="First Name" required autofocus>
   <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required>
   <input type="email" name="email" class="form-control bottom" placeholder="Email" required>
   <div class="">
     <button class="btn-block btn-lg btn-form-signin" type="submit">Sign Me Up!</button>
   </div>

 </form>


 <%- include("partials/footer"); -%>
