<%- include("partials/header"); -%>

<form class="form-signin" action="/back" method="post">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="remember-me-btn" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn-block btn-lg btn-form-signin" style="margin: 0" type="submit">Sign in</button>
  <a class="dont-hav-an-acc" href="/signup">Don't have an account.</a>
</form>

<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

<%- include("partials/footer"); -%>
