<%- include("partials/header"); -%>



<form action="/" style="margin-top: 100px" class="form-signin" method="post">

   <h1 class="form-signup-heading">Please sign up</h1>

   <input type="text" name="fname" class="form-control top" placeholder="First Name" required autofocus>
   <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required>
   <input type="email" name="email" class="form-control bottom" placeholder="Email" required>

   <button class="btn-block btn-lg btnsignin" style="margin: 10px 0" type="submit">Sign Me Up!</button>
 </form>


 <%- include("partials/footer"); -%>
