<%- include("partials/support-header"); -%>

<div class="about-div" style="box-shadow: #cacfdf 0px 3px 2px 0px;">
  <div class="container">
    <h1 class="heading"><i class="fab fa-staylinked"></i>upport</h1>
    <p class="heading-para" > <%=  aboutContent %> </p>
  </div>
</div>

<div class="" style="">

</div>


<%- include("partials/movingcar"); -%>

</body>
</html>
