<%- include("partials/support-header"); -%>

<div class="about-div">
  <div class="container">
    <h1 class="heading"><i class="fab fa-staylinked"></i>upport</h1>
    <p class="heading-para" > <%=  aboutContent %> </p>
  </div>
</div>

<div class="container middle-container">

<%- include("partials/footer"); -%>
