/* :------> container */
.about-div {
  background-color: rgb(248, 248, 248);
  height: 500px
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.middle-container {
  height: 650px;
  margin-bottom: 50px
}

.container {
  margin: 0 30px;
  width: auto;
}

/* :------> navbar */
/*
.navbar-btn {
  border: 1px;
  border-color: red;
} */
.navbar-brand {
  color: #959FCA !important;
  margin-top: 9px;
  font-size: 25px;
  letter-spacing: 4px;
  margin-right: 6px;
}

.navbar {
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a {
  margin-top: 10px;
  padding-right: 0;
  font-size: 10px;
}

.navbar-nav li a:hover {
  color: black !important;
}

/* :------> footer */
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #a6b1e1;
}

.footer p {
  padding-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* :------> button */
.yes-btn {
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 10px;
}

.no-btn {
  margin-top: 20px;
  padding: 10px 30px;
}

.resetbtn {
  margin: 20px 0;
}

.btnsignin {
  padding: 10px 20px;
  margin: 12px 0 0 7px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  border-style: double;
  border-radius: 2px;
  border-color: #a6b1e1;
  background-color: #fff;
  color: #848DB4;
  letter-spacing: 3px;
  float: right;
}

.btnsignin:hover {
  background-color: #a6b1e1;
  color: white;
  border-color: #fff;
}

.btn-li {
  float: right;
}

/* :------> heading */
.heading {
  margin: 20px 0;
}

/* :------> signin */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dont-hav-an-acc {
  color: #848DB4;
  font-size: 12px;
}

.dont-hav-an-acc:hover {
  color: #848DB4;
}

/* :------> signup */
.form-signup-heading {
  font-size: 30px;
}

/* :------> home-navbar */
.explore-txtarea {
  width: 170px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: start;
  font-size: 15px;
  border-style: double;
  border-color: #a6b1e1;
  padding-left:15px;
  outline: none;
  resize: none;
}

.explore-area {
  margin-top: 15px;
}

.explore-search-btn {
  padding: 0 10px 0 2px;
  border-style: none;
  height: 40px;
  background-color: #fff;
  font-size: 15px;
  color: #a6b1e1;
  border-color: #a6b1e1;
  border-style: double;
  border-left-style: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: -11px;
}

.explore-search-btn:hover {
  color: #848DB4;
}
