::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6b1e1;
  opacity: 0.75; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a6b1e1;
  opacity: 0.75;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a6b1e1;
  opacity: 0.75;
}

/* :------> container */
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.middle-container {
  min-height: 297px;
}

.container {
  margin: 0 30px;
  width: auto;
}

/* :------> navbar */
.N {
  color: blue !important;
}

.B {
  color: #767ea2 !important;
}

.navbar-brand {
  color: #959FCA !important;
  margin-top: 6px;
  font-size: 25px;
  letter-spacing: 4px;
  margin-right: 6px;
}

.navbar {
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a {
  margin-top: 10px;
  padding-right: 0;
  font-size: 10px;
}

.navbar-nav li a:hover {
  color: black !important;
}

/* :------> footer */
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #a6b1e1;
}

.footer p {
  padding-top: 25px;
  font-size: 12px;
  color: #fff;
}

/* :------> button */
.btn-signin {
  padding: 10px 0px;
  margin-top: 12px;
  font-size: 17px;
  font-family: Roboto, Arial, sans-serif;
  border-style: none;
  background-color: inherit;
  color: #a6b1e1;
  letter-spacing: 1px;
  float: right;
}

.btn-signin:hover {
  background-color: inherit;
  color: #848db4;
}

.btn-li {
  float: right;
}

/* :------> home */
.about-div {
  background-color: rgb(248, 248, 248);
}

.heading {
  margin: 20px 0 50px 0;
  text-align: center;
  letter-spacing: 3px;
  color: #848db4;
}

.sub-heading {
  margin: 20px 20px;
  letter-spacing: 2px;
  font-size: 35px;
}

.heading-para {
  text-align: center;
  font-size: 24px;
  margin: 0px 2% 50px 2%;
}

.sub-para {
  margin: 0 20px;
}

/* :------> home-navbar */
.explore-txtarea {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  text-align: start;
  font-size: 15px;
  border-style: double;
  border-color: #a6b1e1;
  padding-left: 15px;
  outline-width: medium;
}

.explore-area {
  margin-top: 15px;
}

.explore-search-btn {
  border-style: none;
  height: 40px;
  background-color: inherit;
  font-size: 15px;
  color: #a6b1e1;
  border-color: #a6b1e1;
  margin-left: -43px;
}

/* :------> signin */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 150px auto 230px auto !important;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dont-hav-an-acc {
  color: #848DB4;
  font-size: 12px;
}

.dont-hav-an-acc:hover {
  color: #848DB4;
}

.btn-form-signin {
  padding: 10px 0px;
  margin-top: 10px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  border-style: double;
  background-color: white;
  border-color: #848DB4;
  border-radius: 2px;
  color: #848DB4;
  letter-spacing: 3px;
  float: right;
  border-width: thin;
}

.btn-form-signin:hover {
  background-color: #848DB4;
  border-color: white;
  color: white;
}

/* :------> signup */
.form-signup-heading {
  font-size: 30px;
}

.explore-search-btn:hover {
  color: #848DB4;
}

/* :------> compose area */
.compose-div {
  width: 600px;
  margin: auto;
  text-align: center;
}

.compose-div h1 {
  font-size: 40px;
  color: #848DB4;
  margin: 50px auto;
}

.publish-btn, .reset-btn {
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
  border-style: double;
  border-color: #a6b1e1;
  background-color: #fff;
  color: #848DB4;
  border-radius: 2px;
  letter-spacing: 3px;
  margin: 73px auto 74px auto;
  height: 45px;
  width: 110px;
  border-radius: 100px;
  font-weight: bold;
}

.publish-btn:hover {
  background-color: #a6b1e1;
  color: white;
  border-color: #fff;
}

.input {
  border-radius: 100px;
  border-color: #848DB4;
  height: 50px;
  margin: 40px 0;
}

.post {
  border-color: #848DB4;
}

/* -------> reset */
.reset-form-div {
  text-align: center;
  margin-top: 79px;
  margin-bottom: 158px;
}

.reset-form-div i {
  font-size: 160px;
  color: #f7d695;
  opacity: 0.7;
}

.reset-form-div p {
  font-size: 20px;
  color: #424874;
  margin-bottom: 40px;
}

.reset-heading {
  color: #424874;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 76px;
  margin-bottom: 40px;
}

.reset-div {
  text-align: center;
  letter-spacing: 30px;
}

.yes-btn, .no-btn {
  font-size: 19px;
  font-family: Roboto, Arial, sans-serif;
  border-style: double;
  border-color: #a6b1e1;
  background-color: #fff;
  color: #848DB4;
  letter-spacing: 3px;
  border-radius: 9px;
  font-weight: bold;
}

.yes-btn:hover {
  background-color: #fd5e53;
  border-color: white;
  color: white;
}

.no-btn:hover {
  background-color: #94d3ac;
  border-color: white;
  color: white;
}

/* -------> explore */

.explore-p-area {
  min-height: 660px;
}

.explore-p-search-area {
  margin: 40px auto;
  float: right;
  width: 25%;
  outline-width: medium;
  border-radius: 2px;
  background-color: #f9fafd;
  height: 500px;
  border: 2px solid #e4e7f6;
}

.explore-sub-area {
  float: left;
  width: 75%;
}

.explore-p-search-txtarea {
  padding-left: 12px;
  width: 100%;
  height: 40px;
  border-style: none;
  text-align: start;
  font-size: 15px;
  background-color: #f6f7fc;
}

.explore-p-search-area-form {
  border-bottom: 2px solid #e4e7f6;
}

 .explore-p-search-btn {
  position: absolute;
  border-style: none;
  height: 40px;
  background-color: inherit;
  font-size: 15px;
  color: #a6b1e1;
  border-color: #a6b1e1;
  margin-left: -35px;
}

.explore-p-search-btn:hover {
  color: #848db4;
}
